venv/
.vscode/

docs/VerChainS.pdf
docs/Details.md
docs/P2pnetwork-Documentation.pdf
docs/Real-World-Example-(BC IDV).drawio
docs/Real-World-Example-(BC IDV).pdf
docs/todo.md
docs/What is a Blockchain-Based Identity Verification System.pdf
docs/Current Performance Analysis Report.md
docs/Performance Report (Ledger Insert and Lookup Speed).md
docs/VerChain-Docs
docs/.obsidian
docs/releases/v0.4.0-release.md
docs/full-arcitecture-guide.md


storage/*.json
storage/*.log

source/Blockchain_based_Identity_Verification_System.egg-info
source/*.egg-info/

VerChain-venv
.pytest_cache
dist
build

blockchain_ver_ident.egg-info
*__pycache__/
*.pyc
*.pyo

todo.todo

